<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Add new banner</title>
    </head>
    <body class="bg-gray-100">        
        <div class="bg-white">
            <div class="container mx-auto md:px-8 px-2 bg-[#e2f5ff]">
                <div class="p-2 pb-0">
                    <h1 class="text-2xl font-semibold text-center">Find Your Gadget</h1>
                </div>
            </div>
            <div class="container mx-auto bg-[#e2f5ff] md:px-8 py-2 p-2 grid grid-cols-2 md:grid-cols-5">
                <div class="p-2 m-1 bg-white text-black hover:drop-shadow-xl">
                    <a href="#">
                        <img class="max-w-full w-full h-auto" src="https://zuricart.co.ke/upload/images/banner/2883SMARTPHONES%20(1).jpg" alt="">
                        <div class="flex flex-col items-center pt-1">
                            <h1 class="text-md font-medium inline-flex gap-1">Feature <p class="text-green-600">Phones</p></h1>
                            <h2 class="text-md inline-flex gap-1">on sel <p class="text-green-600">50%</p> off</h2>
                        </div>
                    </a>
                </div>
                <div class="p-2 m-1 bg-white text-black hover:drop-shadow-xl">
                    <a href="#">
                        <img class="max-w-full w-full h-auto" src="https://zuricart.co.ke/upload/images/banner/2883SMARTPHONES%20(1).jpg" alt="">
                        <div class="flex flex-col items-center pt-1">
                            <h1 class="text-md font-medium inline-flex gap-1">Feature <p class="text-green-600">Phones</p></h1>
                            <h2 class="text-md inline-flex gap-1">on sel <p class="text-green-600">50%</p> off</h2>
                        </div>
                    </a>
                </div>
                <div class="p-2 m-1 bg-white text-black hover:drop-shadow-xl">
                    <a href="#">
                        <img class="max-w-full w-full h-auto" src="https://zuricart.co.ke/upload/images/banner/2883SMARTPHONES%20(1).jpg" alt="">
                        <div class="flex flex-col items-center pt-1">
                            <h1 class="text-md font-medium inline-flex gap-1">Feature <p class="text-green-600">Phones</p></h1>
                            <h2 class="text-md inline-flex gap-1">on sel <p class="text-green-600">50%</p> off</h2>
                        </div>
                    </a>
                </div>
                <div class="p-2 m-1 bg-white text-black hover:drop-shadow-xl">
                    <a href="#">
                        <img class="max-w-full w-full h-auto" src="https://zuricart.co.ke/upload/images/banner/2883SMARTPHONES%20(1).jpg" alt="">
                        <div class="flex flex-col items-center pt-1">
                            <h1 class="text-md font-medium inline-flex gap-1">Feature <p class="text-green-600">Phones</p></h1>
                            <h2 class="text-md inline-flex gap-1">on sel <p class="text-green-600">50%</p> off</h2>
                        </div>
                    </a>
                </div>
                <div class="p-2 m-1 bg-white text-black hover:drop-shadow-xl">
                    <a href="#">
                        <img class="max-w-full w-full h-auto" src="https://zuricart.co.ke/upload/images/banner/2883SMARTPHONES%20(1).jpg" alt="">
                        <div class="flex flex-col items-center pt-1">
                            <h1 class="text-md font-medium inline-flex gap-1">Feature <p class="text-green-600">Phones</p></h1>
                            <h2 class="text-md inline-flex gap-1">on sel <p class="text-green-600">50%</p> off</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!--- dropify end --->
        <script type="text/javascript" src="https://jeremyfagis.github.io/dropify/dist/js/dropify.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://jeremyfagis.github.io/dropify/dist/css/dropify.min.css">
        <script type="text/javascript">$('.dropify').dropify();</script>
        <!--- dropify end --->
        <script src="https://cdn.tailwindcss.com/3.3.1"></script>
        <script src="https://unpkg.com/alpinejs" defer></script>
    </body>
</html